.btn {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding: 15px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--primary-color);
  background-color: var(--blackOpacity-color);
  border: none;
  border-radius: 10px;
  font-weight: 900;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn:hover {
  background-color: var(--black-color);
  transform: translateY(5px);
}
.content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: opacity 0.3s ease, transform 0.3s ease;
  opacity: 1;
  transform: translateY(0);
}

.btn:hover .content {
  opacity: 0;
  transform: translateY(10px);
}

.arrow {
  position: absolute;

  color: var(--primary-color);
  transform: translateY(-20px);
  transition: transform 0.3s ease;
  font-size: 2rem;

  opacity: 0;
}

.btn:hover .arrow {
  opacity: 1;
  animation: moveArrow 2s linear infinite;
}

@keyframes moveArrow {
  0% {
    transform: translateY(-50px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(50px);
  }
}
