.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  background-color: transparent;
  border: none;
}
.span {
  position: relative;
  padding: 10px;

  cursor: pointer;
}
.span::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--black-color);
  transition: width 0.3s ease;
}
.span:hover::after {
  width: 100%;
}
