.project {
  margin-inline: 100px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
}
.project_left {
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 20px;
}
.project__arrowBtn {
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  background-color: transparent;
  border: none;
  transition: all 0.3s ease-in-out;
  opacity: 0.5;
  font-size: var(--l);
}
.project__arrowBtn:hover {
  transform: scale(1.5);
  color: var(--black-color);
  opacity: 1;
}
.project__imgContainer {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}
.projectSection__stopBtn {
  width: 40px;
  height: 40px;

  position: absolute;
  top: 10px;
  left: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  color: var(--black-color);
  background-color: var(--white-color);
}
.project__img {
  width: 100%;
  max-height: 500px;

  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 10px 20px rgba(0, 0, 0, 0.2);
  border: 1px solid #ddd;
}
.project__right {
  align-self: center;

  display: grid;
  grid-template-rows: 1fr 3fr 1fr;
  gap: 20px;
}
.project__name {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: var(--l);
}
.project__codebase {
  font-size: var(--s);
}
.project__descriptionContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.project__description {
  font-size: var(--s);
}
.project__opcion {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-top: 1px solid var(--black-color);
  font-size: var(--s);
}
@media (max-width: 992px) {
  .project {
    max-height: 800px;
    margin-block: auto;
    margin-inline: 50px;

    gap: 50px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
@media (max-width: 576px) {
  .project {
    max-height: 600px;
    margin-inline: 10px;

    gap: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .project_left {
    gap: 5px;
  }
  .project__img {
    max-height: 200px;
  }
}
