.project__container {
  height: 100%;
  width: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr;
}
.project_containerImg {
  width: 100%;
  height: 100%;

  padding: 40px;

  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 20px;
}
.projectSection__containerBtn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.projectSection__btn {
  width: 50px;
  height: 50px;

  padding: 20px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  cursor: pointer;
  border: none;
  font-size: 2rem;
  color: var(--gray-color);
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}
.projectSection__btn:hover {
  transform: scale(1.1);
  color: var(--black-color);
}

.project__contentImg {
  position: relative;
}
.projectSection__stopBtn {
  width: 40px;
  height: 40px;

  position: absolute;
  top: 10px;
  left: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  backdrop-filter: blur(10px);
  font-weight: 900;
  background-color: rgb(0, 0, 0, 0.5);
  color: var(--white-color);
}
.projec__image {
  width: 100%;
  height: 100%;

  object-fit: cover;
  border-radius: 10px;
  border: 1px solid var(--black-color);
}
.project__info {
  width: 100%;
  height: 100%;

  padding: 60px;

  display: grid;
  grid-template-rows: 1.5fr 3fr 1.5fr;
}
.project__name_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.project__name {
  padding: 5px;
  font-size: 2rem;
  position: relative;
}

.project__name::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--black-color);
  transition: width 0.3s ease;
}

.project__name:hover::after {
  width: 100%;
}
.project__github_link {
  color: var(--gray-color);
  font-size: 2rem;
  transition: all 0.3s ease-in-out;
}
.project__github_link:hover {
  color: var(--black-color);
  transform: scale(1.1);
}
.projectSection__opcionBtn {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: space-around;
  align-items: center;

  border-top: 1px solid var(--black-color);
}
.projectSection__opcionBtn a {
  padding: 5px;
  position: relative;

  font-size: 1.2;
  font-weight: 900;
}
.projectSection__opcionBtn a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: var(--black-color);
  transition: width 0.3s ease;
}
.projectSection__opcionBtn a:hover::after {
  width: 100%;
}
