.project {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: auto 1fr auto;
}
.project__projectBtn {
  padding: 40px 20px;
  height: fit-content;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  border: none;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
  opacity: 0.2;
  font-size: var(--m);
  transform: rotate(-90deg);
}
.project__projectBtn:hover {
  transform: scale(1.1);
  color: var(--black-color);
  opacity: 1;
}
.project__container {
  display: grid;
  grid-template-rows: auto 1fr;
}
.project__stopContainer {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}
.project__stopBtn {
  width: 40px;
  height: 40px;

  position: absolute;
  top: 10px;
  left: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  color: var(--white-color);
  background-color: var(--primary-color);
}
.project__img {
  width: 100%;
  max-height: 275px;

  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 10px 20px rgba(0, 0, 0, 0.2);
  border: 1px solid #ddd;
}
.project__infoSection {
  align-self: center;

  display: grid;
  grid-template-rows: 1fr 4.5fr 1fr;
  gap: 10px;
}
.project__titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.project__title {
  font-size: var(--xxl);
  font-weight: 700;
  color: var(--primary-color);
}
.project__basecode {
  font-size: var(--m);
}
.project__descriptionContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.project__description {
  font-size: var(--m);
}
.project__opcion {
  padding-top: 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: var(--s);
}
@media (max-width: 992px) {
  .project {
    max-height: 800px;
    margin-block: auto;
    margin-inline: 50px;

    gap: 50px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
@media (max-width: 576px) {
  .project {
    max-height: 400px;
    margin-inline: 10px;
    margin-block: 10px;

    gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
  }
  .project_left {
    gap: 10px;
  }
  .project__img {
    max-height: 100px;
    max-width: 200px;
  }
  .project__opcion {
    padding-top: 5px;
  }
  .project__right {
    gap: 5px;
  }
  .projectSection__stopBtn {
    background-color: var(--black-color);
    color: var(--white-color);
  }
}
