.navBar {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  list-style-type: none;
  border-top: 1px solid var(--black-color);
  font-family: "font-one-regular";
}
.li {
  width: 100%;
  height: 100px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  cursor: pointer;
  opacity: 0.5;
}
.active {
  opacity: 1;
}
