.navBar {
  height: 100%;
  padding-block: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 20px;
  list-style-type: none;
  font-weight: 400;
}
.link {
  background-color: var(--black-color);
  height: 100%;

  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  justify-content: center;
  gap: 20px;

  cursor: pointer;
  opacity: 0.5;
  color: var(--white-color);
}
.icon {
  font-size: 1.2rem;
  text-align: center;
}
.active {
  opacity: 1;
}
@media (max-width: 576px) {
  .navBar {
    padding-block: 5px;

    flex-direction: row;
    justify-content: space-between;
    gap: 10px;

    font-size: var(--s);
  }
  .li {
    height: fit-content;
    padding: 5px 2px;

    align-items: center;

    border: 1px solid var(--black-color);
    border-radius: 10px;
  }
}
