.aboutme {
  padding-inline: 40px;

  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  gap: 20px;
}
.aboutme__descriptionContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}
.aboutme__descriptionInfo {
  display: flex;
  flex-direction: column;
  gap: 20px;

  font-size: var(--m);
}
.aboutme__descriptionInfo i {
  padding-right: 10px;
  font-size: var(--m);
  color: var(--primary-color);
}
.button {
  padding: 2px 24px;

  height: 48px;
  width: fit-content;

  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;

  appearance: none;
  border-radius: 40px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px, rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  cursor: pointer;
  fill: currentcolor;
  font-size: var(--m);
  font-weight: 800;

  letter-spacing: 0.25px;
  line-height: normal;
  overflow: visible;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1), opacity 15ms linear 30ms,
    transform 270ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform, opacity;
  background-color: var(--white-color);
}

.button:hover {
  color: var(--primary-color);
}

.button:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.button:focus {
  outline: none;
  border: 2px solid var(-primary-color);
}

.button:not(:disabled) {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0, rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}

.button:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, 0.3) 0 2px 3px 0, rgba(60, 64, 67, 0.15) 0 6px 10px 4px;
}

.button:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0, rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}

.button:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, 0.3) 0 4px 4px 0, rgba(60, 64, 67, 0.15) 0 8px 12px 6px;
}

.button:disabled {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0, rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}

.aboutme__resumeContainer {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.aboutme__resumeContent {
  padding: 20px;

  width: 450px;
  height: 630px;

  display: grid;
  grid-template-rows: auto 1fr 3fr;
  gap: 20px;

  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 10px 20px rgba(0, 0, 0, 0.2);
  border: 1px solid #f8f9fa;
}
/* portada */
.aboutme__resumeName {
  text-align: center;
  padding: 5px;
  font-size: var(--xl);
}
.aboutme__resumeDesciption {
  font-size: var(--s);
  text-align: center;
}
/* contact */
.aboutme__resumeContact {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.aboutme__resumeInfo {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: repeat(5 1fr);
  gap: 5px;
  justify-content: center;
  align-items: center;
  font-size: var(--xs);
}
.aboutme__resumeInfo i,
.aboutme__resumeInfo img {
  font-size: var(--m);

  display: flex;
  justify-content: center;
  align-items: center;
}
.aboutme__resumeQrContainer {
  display: flex;
  justify-content: center;
  object-fit: cover;
}
/* experience */
.aboutme__resumeExperience {
  font-size: var(--s);
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.styles.aboutme__resumeSubtitle {
  font-size: var(--l);
}
.education {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.aboutme__resumeExperience ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.aboutme__resumeExperience li {
  list-style-type: none;
}
