.aboutme {
  padding-inline: 40px;

  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  gap: 20px;
}
.aboutme__descriptionContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}

.aboutme__descriptionInfo {
  display: flex;
  flex-direction: column;
  gap: 20px;

  font-size: var(--m);
}
.aboutme__descriptionInfo i {
  padding-right: 10px;
  font-size: var(--m);
  color: var(--primary-color);
}
.btnsContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.aboutme__resumeContainer {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.aboutme__resumeContent {
  padding: 20px;

  width: 450px;
  height: 630px;

  display: grid;
  grid-template-rows: auto 1fr 3fr;
  gap: 20px;

  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 10px 20px rgba(0, 0, 0, 0.2);
  border: 1px solid #f8f9fa;
}
/* portada */
.aboutme__resumeName {
  text-align: center;
  padding: 5px;
  font-size: var(--xl);
}
.aboutme__resumeDesciption {
  font-size: var(--s);
  text-align: center;
}
/* contact */
.aboutme__resumeContact {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.aboutme__resumeInfo {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: repeat(5 1fr);
  gap: 10px;
  justify-content: center;
  align-items: center;
  font-size: var(--xs);
}
.aboutme__resumeInfo i,
.aboutme__resumeInfo img {
  font-size: var(--s);

  display: flex;
  justify-content: center;
  align-items: center;
}
.aboutme__resumeQrContainer {
  display: flex;
  justify-content: center;
  object-fit: cover;
}
/* experience */
.aboutme__resumeExperience {
  font-size: var(--s);
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.styles.aboutme__resumeSubtitle {
  font-size: var(--l);
}
.education {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.aboutme__resumeExperience ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.aboutme__resumeExperience li {
  list-style-type: none;
}
@media (max-width: 992px) {
  .aboutme {
    padding: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px;
  }
}
@media (max-width: 576px) {
  .aboutme__resumeContent {
    padding: 5px;

    width: 350px;
    height: 490px;
  }
  .aboutme__resumeExperience {
    font-size: var(--xs);
  }
  .styles.aboutme__resumeSubtitle {
    font-size: var(--m);
  }
}
