.navSection {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-rows: 1.5fr 3fr 0.5fr;
}
.navSection__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.navSection__name {
  font-size: 2rem;
  font-family: "font-one-regular";
}
.navSection__description {
  padding-left: 2px;

  display: flex;
  flex-direction: column;
  gap: 5px;
}
.navSection__copy {
  padding-bottom: 5px;
  font-size: 0.75rem;
}
.navSection__contact {
  display: flex;
  justify-content: space-around;
  align-items: center;

  border-top: 1px solid var(--black-color);
}
