.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  font-family: "Font-one-bold";
}
.span {
  position: relative;

  padding: 2px;

  cursor: pointer;
}
.span::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: var(--black-color);
  transition: width 0.3s ease;
}
.span:hover::after {
  width: 100%;
}
