.homeSection__container {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.homeSection__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.homeSection__containerSpan {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  border-radius: 10px;
  background-color: var(--blackOpacity-color);
}
.homeSection__title {
  color: var(--primary-color);
}
.homeSection__content span {
  font-size: 1rem;
}
.homeSection__stack {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.homeSection__stack i {
  font-size: 2rem;
}
