.homeSection__container {
  padding: 20px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}
.homeSection__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;

  border-radius: 10px;
}
.homeSection__content span {
  font-size: 1.2rem;
}
.homeSection__stack {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.homeSection__stack i {
  font-size: 2rem;
}
