.homeSection {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.homeSection__content {
  display: grid;
  grid-template-rows: 1fr auto auto;
  gap: 20px;
}
.homeSection__containerDescription {
  display: flex;
  flex-direction: column;
  gap: 5px;

  text-align: center;
  padding-bottom: 20px;
}
.homeSection__stack {
  width: 100%;

  padding-top: 20px;

  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: "Font-one-regular";
}
.homeSection__containerStackSpan {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
