.projectSection {
  width: 75%;
  height: 100%;

  display: grid;
  grid-template-rows: 1fr auto;
  gap: 20px;
}
.projectSection__Project {
  width: 100%;
  height: 100%;
}
.projectSection__opcionBtn {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;

  border-radius: 10px;
}
.projectSection__opcionBtn a {
  padding: 5px;
  position: relative;

  font-size: 1.2;
  font-weight: 900;
}
.projectSection__opcionBtn a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: var(--black-color);
  transition: width 0.3s ease;
}
.projectSection__opcionBtn a:hover::after {
  width: 100%;
}
