.projectSection {
  height: 100%;
  width: 100%;

  display: grid;
  grid-template-rows: 1fr 15vh;
}
.projectSection__Project {
  height: 100%;
  width: 100%;
}
.projectSection__allProjectBtn {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.projectSection__allProjectBtn a {
  position: relative;

  font-size: 1.2;
  font-weight: 900;
}
.projectSection__allProjectBtn a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: var(--black-color);
  transition: width 0.3s ease;
}
.projectSection__allProjectBtn a:hover::after {
  width: 100%;
}
