.app__container {
  height: 100vh;
  width: 100vw;

  overflow: hidden;
  background-color: var(--white-color);
  color: var(--black-color);
}

.app__content {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: 1fr 3fr;
  transition: opacity 1.5s ease-in-out;
}

.app__content.hidden {
  opacity: 0;
}

.app__content.visible {
  opacity: 1;
}

.app__left,
.app__right {
  padding: 40px;
}

.app__right {
  display: flex;
  align-items: center;
  justify-content: center;
}
