/* var */

:root {
  --black-color: #212529;
  --white-color: #f8f9fa;
  --gray-color: #e9ecef;
}
/* font */

@font-face {
  font-family: "Font-one-light";
  src: url("/src/assets/font/Gothic_A1/GothicA1-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Font-one-regular";
  src: url("/src/assets/font/Gothic_A1/GothicA1-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Font-one-bold";
  src: url("/src/assets/font/Gothic_A1/GothicA1-Bold.ttf") format("truetype");
}
body {
  font-family: "Font-one-light", sans-serif;
  color: var(--black-color);
  background-color: var(--white-color);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  all: unset;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}
